version: '3'

services:
  react-app:
    image: react-app
    stdin_open: true
    ports:
      - '3000:3000'
    networks:
      - whois-app
    depends_on:
      - api-server
  api-server:
    image: api-server

    container_name: server
    ports:
      - '5000:5000'
    networks:
      - whois-app
networks:
  whois-app:
    driver: bridge
